
$white: #fff;
$name-color: #16A5D7;
$profile-color: #50c0e9;
$portfolio-color: #a8d324;
$contact-color: #7caf00;
$face-color: #3B5999;
$twitter-color: #00BAFF;
$dribble-color: #EA4C89;
$instagrame-color: #CB2028;
$body-color: #09193f;
$paragraph-color: #666666;
$transition-color: #ccc;
$gray-color: #dedede;
$header-color: #333333;
$skills-color: #497cf0;
$before-color: #0a173e;
$transition: .3s;
$mini-mobile: "(max-width: 567px)";
$mobile: "(max-width: 767px)";
$small: "(min-width: 768px)";
$tablet: "(max-width: 991px)";
$medium: "(min-width: 992px)";
$large: "(min-width: 1200px)";